.pagina-secoes {

    
    > main {
        width: 1280px;
        margin: 0px auto;
        margin-top: 50px;
    }

    .lista-alunos {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }

    

}