@font-face {
    font-family: font1;
    src: url(../public/assets/fonts/font1.woff2) format('truetype');
}
@font-face {
    font-family: font2;
    src: url(../public/assets/fonts/font2.woff2) format('truetype');
}
@font-face {
    font-family: font3;
    src: url(../public/assets/fonts/font3.woff2) format('truetype');
}
@font-face {
    font-family: font4;
    src: url(../public/assets/fonts/font4.woff2) format('truetype');
}
@font-face {
    font-family: font5;
    src: url(../public/assets/fonts/font5.woff2) format('truetype');
}
@font-face {
    font-family: font6;
    src: url(../public/assets/fonts/font6.woff2) format('truetype');
}